<!DOCTYPE html>
<html>
  <head>
    <title>DeviseRolesLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <footer>
      <p><%= current_user.email if user_signed_in? %></p>
    </footer>
  </body>
</html>
